body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h1, h2, h3 {
    padding: 5px;
    margin: 0;
}

tbody {
    width: 100%;
    border: 1px solid black;
}

td, tr {
    width: 1000px;
}

.title {
    border-bottom: 1px solid black;
}

.train {
    display: inline-block;
    padding-top: 15px;
}

.train a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.train a.active {
    background-color: #4CAF50;
    color: white;
}

.train a:hover:not(.active) {background-color: #ddd;}
